  body {
      background-color: lightblue;
    }

    h1 {
      font-family: Tilt Prism, sans-serif, verdana;
    
      color: whitesmoke;
      text-align: center;
text-decoration: dotted underline ;
    }

    p {
      font-family: sans-serif Mukta, Playfair Display;
      font-size: 20px;
      text-decoration: red wavy underline ;
    }
   